@page "/contacts"
@using FrontEnd.Models
@using FrontEnd.Services;
@using System.Net.Http.Headers;
@inject HttpClient Http
@inject NavigationManager Navigation
@inject AuthService AuthService
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<PageTitle>Lista kotaktów</PageTitle>

<h1>Lista kotaktów</h1>


@if (contacts != null)
{
    <table style="border-collapse: collapse; width: 100%;" border="1" cellpadding="8">
        <thead>
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Imię
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                    Szczegóły
                </th>
                <th>
                    Edycja
                </th>
                <th>
                    Usuwanie
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(Contact contact in contacts)
            {
                <tr>
                    <td>
                        @contact.Email
                    </td>
                    <td>
                        @contact.Name
                    </td>
                    <td>
                        @contact.Surname
                    </td>
                    <td>
                        <button @onclick="() => RedirectToDetails(contact.Id)">Szczegóły</button>
                    </td>
                    <td>
                        <button @onclick="() => RedirectToEdit(contact.Id)">Edytuj</button>
                    </td>
                    <td>
                        <button @onclick="() => DeleteContact(contact.Id)">Usuń</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>404</h2>
    <p>Brak listy kontaktów</p>
}


<button class="btn btn-secondary" disabled="@(AuthService.IsLoggedIn == false)"
@onclick="RedirectToAdd">Dodaj nowy kontakt</button>
<br/>
<br/>
<button class="btn btn-primary" @onclick="DecrementSkip">Poprzednia</button>
<button class="btn btn-primary" @onclick="IncrementSkip">Następna</button>

@code {
    
}
